@{
    ViewBag.Title = "Home Index";//added by auther
                                 //ViewData["Title"] = "Home Index";
}

<h1> CV  Esam Alkureishi </h1>
<h2>PROFILE</h2>
<p>I am a hardworking, social, communicative and analytical person who has a great interest in learning more…</p>
<h2>WORK EXPERIENCE</h2>
<table >
    
    <tr>
        <td>2017-04-01 – 2019-04-30</td>
        <td>Lärare Assistent, Brinell högstadiet, Nässjö</td>
    </tr>
    <tr>
        <td>2016-01-01 – 2016-04-01</td>
        <td>
            Supervisor in C #,
            Brinell technology, Nässjö.
        </td>
    </tr>
    <tr>
        <td>2015-11-01 - 2016-05-01</td>
        <td>Trainee, Nässjö Affärsverket, Nässjö</td>
    </tr>
</table>
<h2>EDUCATION</h2>
<table>

    <tr>
        <td>2020-01-07 - 2021-03-01</td>
        <td>NERCIA Utb. AB.GY El-Teknik, Installation electrician</td>
    </tr>
    <tr>
        <td>1991-10-01 - 1997-10-01</td>
        <td>
            Al-Mustansiriya University Baghdad, University Engineer
        </td>
    </tr>
   
</table>


