@{
    ViewBag.Title = "Contact";//added by auther
                                 //ViewData["Title"] = "Home Index";
}

<h1>Contact Information</h1>
<div>
    <p>
        Name:<span> Esam Qassim</span> <br>
        Address: Brinellgatan xx, xxxxx Nässjö<br>
        Email:<a href="mailto:hege@example.com">hege@example.com</a><br>
        Phone: 073-xxxxxxx<br>
        Personal number: xx-xx-xx

    </p>
</div>
