@{
    ViewBag.Title = "Projects";//added by auther
                                 //ViewData["Title"] = "Home Index";
}

<h1>Projects</h1>
<div>

  
    <dl>
        <dt> Calculator </dt>
        <dd>
            A simple calculator App which perform four mathmatical operation
            <a href="https://github.com/Esamqassim/CalculatorApp"> CalculatorApp</a>
        </dd>
        <dt> HTML-CSS </dt>
        <dd>
            A static web pages with HTML&CSS files
            <a href="https://github.com/Esamqassim/HTML-CSS-assignment">HTML-CSS</a>
        </dd>

        <dt> Sokoban </dt>
        <dd>
            A simple game with javascript & jQuery 
            <a href="https://github.com/Esamqassim/Sokoban-FinalV1"> Sokoban-Game</a>
        </dd>

    </dl>

</div>
